/* body {
    background: linear-gradient(-45deg,rgb(219, 126, 126),rgb(203, 100, 117),rgb(81, 152, 81),rgb(118, 118, 177),rgb(216, 106, 216),rgb(160, 63, 46),rgb(104, 243, 243));
    background-size: 400% 400%;
    height: 100vh;
    animation:trans 5s ease infinite;
}

@keyframes trans{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1{
    font-size: 150px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    background: rgba(0, 0, 0, 0.3);
    padding: 50px;
    border-radius: 40px;
    box-shadow: 2px 25px 25px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    color: beige;
} */

@media(min-width:1024px){
    body {
        background: linear-gradient(-45deg,rgb(219, 126, 126),rgb(203, 100, 117),rgb(81, 152, 81),rgb(118, 118, 177),rgb(216, 106, 216),rgb(160, 63, 46),rgb(104, 243, 243));
        background-size: 400% 400%;
        height: 100vh;
        animation:trans 5s ease infinite;
    }
    
    @keyframes trans{
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    h1{
        font-size: 150px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 750px;
        background: rgba(0, 0, 0, 0.3);
        padding: 50px;
        border-radius: 40px;
        box-shadow: 2px 25px 25px rgba(0, 0, 0, 0.4);
        text-transform: uppercase;
        color: beige;
    }
}
@media(max-width:1024px){
    body {
        background: linear-gradient(-45deg,rgb(219, 126, 126),rgb(203, 100, 117),rgb(81, 152, 81),rgb(118, 118, 177),rgb(216, 106, 216),rgb(160, 63, 46),rgb(104, 243, 243));
        background-size: 400% 400%;
        height: 100vh;
        animation:trans 5s ease infinite;
    }
    
    @keyframes trans{
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    h1{
        font-size: 80px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 390px;
        background: rgba(0, 0, 0, 0.3);
        padding: 50px;
        border-radius: 40px;
        box-shadow: 2px 25px 25px rgba(0, 0, 0, 0.4);
        text-transform: uppercase;
        color: beige;
    }
}
@media(max-width:768px){
    body {
        background: linear-gradient(-45deg,rgb(219, 126, 126),rgb(203, 100, 117),rgb(81, 152, 81),rgb(118, 118, 177),rgb(216, 106, 216),rgb(160, 63, 46),rgb(104, 243, 243));
        background-size: 200% 200%;
        height: 100vh;
        animation:trans 5s ease infinite;
    }
    
    @keyframes trans{
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    h1{
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 200px;
        background: rgba(0, 0, 0, 0.3);
        padding: 40px;
        border-radius: 40px;
        box-shadow: 2px 25px 25px rgba(0, 0, 0, 0.4);
        text-transform: uppercase;
        color: beige;
    }
}